.chat-message {
  display: flex;
  flex-flow: column wrap;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px, rgba(0, 0, 0, 0.2) 0 1px 4px;
  border-radius: 10px;
  padding: 3px 10px;
  min-width: 100px;
  width: fit-content;
  margin: 15px 7px;
  background: #fcfcfc;
  word-wrap: break-word; }
  .chat-message .date {
    display: flex;
    justify-content: flex-end;
    font-size: 9px;
    color: #b3b3b3; }
  .chat-message .body {
    word-break: break-all; }
  .chat-message .user {
    color: #999999;
    font-size: 12px; }
  .chat-message .message-arrow {
    position: relative; }
    .chat-message .message-arrow:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid; }
  .chat-message .message-arrow.received:after {
    border-width: 0 15px 20px 0;
    border-color: transparent #fcfcfc transparent transparent;
    top: -3px;
    left: -18px; }
  .chat-message .message-arrow.sent:after {
    border-width: 0 0 20px 15px;
    border-color: transparent transparent transparent #e1ffc7;
    top: -3px;
    right: -18px; }

.chat-message.sent {
  background: #e1ffc7; }
