//.loader {
//  width:500px;
//  height:500px;
//  background: url(./images/loader/loader-sprite.png) no-repeat 100% 100%;
//  animation: playX 1.5s steps(10) infinite,
//              playY 1.5s steps(12) infinite;
//}
//
//@keyframes playX {
//  from {background-position-x: -5100px;}
//  to {background-position-x: 0px;}
//}
//
//@keyframes playY {
//  from {background-position-y: -6060px;}
//  to {background-position-y: 0px;}
//}