.md-button {
  text-transform: capitalize !important;/*For Lower case use lowercase*/
}

.md-btn-lg{
  button {
    height: 45px !important;

    div div {
      height: 45px !important;
      span {
        font-size: 16px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        line-height: 3;
      }
    }
  }
}

button.circular-btn {
  div {
    span {
      border-radius: 20px;
    }
  }
}

button.icon-button {
  div {
    span {
      border-radius: 50%;
    }
  }
}
.icon-button {
  button {
    div {
      span {
        border-radius: 50% !important;
      }
    }
  }
}

.circular-btn {
  button {
    div {
      span {
        border-radius: 30px !important;
      }
    }
  }
}
.study-content-tabs{
  button.tab-button div div{
    flex-flow: row wrap !important;
    height: inherit !important;
  }
}


.form-input-field.input-file-hidden{
  input[type="file"]{
    opacity: 0 !important;
  }
}