/* LINE HEIGHT*/

.line-height-5 {
  line-height: 5;
}

.line-height-3 {
  line-height: 3;
}

.line-height-2 {
  line-height: 2;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1_1 {
  line-height: 1.1;
}

.line-height-05 {
  line-height: .5 !important;
}

.line-height-09 {
  line-height: .9;
}
.line-height-22{
  line-height: 22pt;
}

/* LINE HEIGHT*/

.label,
.glyphicon {
  margin-right: 5px;
}


/* PADDING*/

.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-4 {
  padding-top: 4px;
}

.p-t-5 {
  padding-top: 5px;
}
.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-9 {
  padding-top: 9px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-55 {
  padding-top: 55px;
}

.p-t-135 {
  padding-top: 135px;
}

.p-r-0 {
  padding-right: 0;
}
.p-r-5 {
  padding-right: 5px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-r-45 {
  padding-right: 45px;
}

.p-r-50 {
  padding-right: 50px;
}
.p-r-96 {
  padding-right: 96px;
}

.p-l-0 {
  padding-left: 0;
}
.p-l-5 {
  padding-left: 5px;
}
.p-l-6 {
  padding-left: 6px;
}

.p-l-8 {
  padding-left: 8px !important;
}
.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-18 {
  padding-left: 18px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-l-35 {
  padding-left: 35px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-l-50 {
  padding-left: 50px;
}

.p-l-75 {
  padding-left: 75px;
}

.p-l-250 {
  padding-left: 250px;
}

.p-l-260 {
  padding-left: 260px;
}

.p-l-offset-6 {
  padding-left: 6%;
}

.p-l-offset-3 {
  padding-left: 3% !important;
}

.p-l-offset-2 {
  padding-left: 2% !important;
}

.p-l-offset-1 {
  padding-left: 1% !important;
}

.p-l-offset-8 {
  padding-left: 8% !important;
}

.p-l-offset-11 {
  padding-left: 11% !important;
}

.p-offset-0-8 {
  padding: 0 8%;
}

.p-l-offset-15 {
  padding-left: 15%;
}

.p-l-offset-38 {
  padding-left: 38%;
}

.p-t-b-4-precent {
  padding: 4% 0 4% 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-b-10 {
  padding-bottom: 10px;
}
.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-b-70{
  padding-bottom:70px;
}

.p-b-offset-2 {
  padding-bottom: 2% !important;
}

.p-b-offset-1 {
  padding-bottom: 1%;
}

.p-b-offset-4 {
  padding-bottom: 4%;
}

.p-b-offset-5 {
  padding-bottom: 5%;
}

.p-b-offset-10 {
  padding-bottom: 10% !important;
}

.p-b-offset-12 {
  padding-bottom: 12%;
}

.p-b-offset-15 {
  padding-bottom: 15%;
}

.p-b-30-precent {
  padding-bottom: 30%;
}

.p-r-2-precent {
  padding-right: 2% !important;
}

.p-r-18 {
  padding-right: 18px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-r-offset-1 {
  padding-right: 1%;
}

.p-r-offset-2 {
  padding-right: 2%;
}

.p-r-offset-5 {
  padding-right: 5%;
}

.p-r-offset-7 {
  padding-right: 7%;
}

.p-r-offset-12 {
  padding-right: 12%;
}

.p-t-7 {
  padding-top: 7px;
}

.p-t-11 {
  padding-top: 11px !important;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-t-55 {
  padding-top: 55px;
}

.p-t-75 {
  padding-top: 75px;
}

.p-t-90 {
  padding-top: 90px;
}

.p-t-140 {
  padding-top: 140px;
}

.p-t-offset-1 {
  padding-top: 1% !important;
}

.p-t-offset-2 {
  padding-top: 2% !important;
}

.p-t-offset-3 {
  padding-top: 3%;
}

.p-t-offset-5 {
  padding-top: 5%;
}

.p-t-offset-4 {
  padding-top: 4%;
}

.p-t-offset-7 {
  padding-top: 7%;
}

.p-t-offset-9 {
  padding-top: 9%;
}

.p-t-offset-10 {
  padding-top: 10% !important;
}

.p-t-offset-15 {
  padding-top: 15%;
}

.p-t-offset-20 {
  padding-top: 20%;
}

.p-t-offset-30 {
  padding-top: 30%;
}

.p-1-precent {
  padding: 1%;
}

.p-6 {
  padding: 6px !important;
}

.p-7 {
  padding: 7px;
}
.p-15{
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-30 {
  padding: 30px;
}

.p-0-20{
  padding:0 20px;
}

.p-10-10 {
  padding: 10px 10px;
}
.p-15-25 {
  padding: 15px 25px;
}

.p-20-0 {
  padding: 20px 0;
}
.p-0-30{
  padding: 0 30px;
}
.p-0-70{
  padding: 0 70px;
}
.p-20-10 {
  padding: 20px 10px;
}
.p-0-10-offest {
  padding: 0 10%;
}

.p-30-precent {
  padding: 30%;
}

.p-offset-10-15 {
  padding: 10% 15% 10% 15%;
}

.p-25-0 {
  padding: 25px 0;
}

.p-60-0 {
  padding: 60px 0;
}


/* PADDING*/


/* MARGIN*/

.m-auto {
  margin:0 auto;
}

.m-l-m-13 {
  margin-left: -13px;
}

.m-l-5 {
  margin-left: 5px;
}
.m-l-2 {
  margin-left: 2px;
}

.m-l-12 {
  margin-left: 12px;
}
.m-t-m-1 {
  margin-top: -1px;
}
.m-t-m-2 {
  margin-top: -2px;
}

.m-t-m-3 {
  margin-top: -3px;
}
.m-t-1{
  margin-top: 1px;
}

.m-t-m-10 {
  margin-top: -10px;
}
.m-t-m-15 {
  margin-top: -15px;
}
.m-t-m-20 {
  margin-top: -20px;
}

.m-t-m-32 {
  margin-top: -32px !important;
}

.m-t-m-34 {
  margin-top: -34px;
}

.m-r-56 {
  margin-right: 56px;
}

.m-0 {
  margin: 0 auto;
}
.m-5{
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}

.m-0-10 {
  margin: 0 10px;
}
.m-0-20 {
  margin: 0 20px;
}
.m-b-m-2{
  margin-bottom: -2px;
}
.m-b-0 {
  margin-bottom: 0;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-b-5 {
  margin-bottom: 5px;
}
.m-b-7 {
  margin-bottom: 7px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}
.m-l-0 {
  margin-left: 0 !important;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-l-31 {
  margin-left: 31px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-45 {
  margin-left: 45px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-l-65 {
  margin-left: 65px;
}

.m-l-75 {
  margin-left: 75px;
}

.m-l-96 {
  margin-left: 96px;
}

.m-l-115 {
  margin-left: 115px;
}

.m-l-117 {
  margin-left: 117px;
}

.m-l-120 {
  margin-left: 120px;
}

.m-l-155 {
  margin-left: 155px;
}

.m-l-183 {
  margin-left: 183px;
}

.m-l-7 {
  margin-left: 7px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-11 {
  margin-left: 11px;
}

.m-l-m-8 {
  margin-left: -8px;
}

.m-l-m-3 {
  margin-left: -3px;
}

.m-l-m-4 {
  margin-left: -4px;
}
.m-l-m-5 {
  margin-left: -5px;
}

.m-l-m-10 {
  margin-left: -10px;
}

.m-l-m-15 {
  margin-left: -15px !important;
}

.m-l-m-20 {
  margin-left: -20px;
}

.m-l-m-28 {
  margin-left: -28px;
}

.m-l-m-30 {
  margin-left: -30px;
}

.m-l-m-35 {
  margin-left: -35px;
}
.m-l-m-75 {
  margin-left: -75px;
}

.m-l-offset-2 {
  margin-left: 2%;
}

.m-l-offset-3 {
  margin-left: 3%;
}

.m-l-offset-5 {
  margin-left: 5%;
}

.m-l-offset-7 {
  margin-left: 7%;
}

.m-l-offset-10 {
  margin-left: 10%;
}

.m-l-offset-12 {
  margin-left: 12%;
}

.m-l-offset-13 {
  margin-left: 13%;
}

.m-l-offset-15 {
  margin-left: 15%;
}

.m-l-offset-20 {
  margin-left: 20%;
}

.m-l-offset-22 {
  margin-left: 22%;
}

.m-l-offset-22_5 {
  margin-left: 22.5%;
}

.m-l-offset-23 {
  margin-left: 23%;
}

.m-l-offset-30 {
  margin-left: 30%;
}

.col-xs-offset-20 {
  margin-left: 20.6667%;
}

.col-xs-offset-13 {
  margin-left: 13.333333%;
}

.m-r-0 {
  margin-right: 0 !important;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-22 {
  margin-right: 22px;
}

.m-r-28 {
  margin-right: 28px;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-r-31 {
  margin-right: 31px;
}
.m-r-40{
  margin-right: 40px;
}
.m-r-60 {
  margin-right: 60px !important;
}

.m-r-95 {
  margin-right: 95px;
}

.m-r-117 {
  margin-right: 117px;
}

.m-r-offset-3 {
  margin-right: 3%;
}

.m-r-offset-15 {
  margin-right: 15%;
}

.m-r-4-precent {
  margin-right: 4%;
}

.m-r-10-precent {
  margin-right: 10%;
}

.m-t-offset-m-2 {
  margin-top: -2% !important;
}
.m-r-m-5{
  margin-right:-5px;
}
.m-t-m-5 {
  margin-top: -5px;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-2 {
  margin-top: 2px;
}

.m-t-3 {
  margin-top: 3px;
}

.m-t-4 {
  margin-top: 4px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-7 {
  margin-top: 7px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-9 {
  margin-top: 9px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}
.m-t-25{
  margin-top: 25px;
}
.m-t-28 {
  margin-top: 28px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-33 {
  margin-top: 33px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-55 {
  margin-top: 55px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-t-125 {
  margin-top: 125px;
}
.m-t-140 {
  margin-top: 140px;
}

.m-t-160 {
  margin-top: 160px;
}

.m-t-m-2 {
  margin-top: -2px !important;
}

.m-t-m-3 {
  margin-top: -3px;
}

.m-t-m-4 {
  margin-top: -4px;
}

.m-t-m-5 {
  margin-top: -5px !important;
}

.m-t-offset-3 {
  margin-top: 3%;
}
.m-t-offset-4 {
  margin-top: 4%;
}

.m-t-offset-5 {
  margin-top: 5%;
}

.m-t-offset-7 {
  margin-top: 7%;
}

.m-t-offset-m-4 {
  margin-top: -4% !important;
}

.m-t-offset-m-5 {
  margin-top: -5%;
}

.m-t-offset-m-7 {
  margin-top: -7%;
}

.m-t-8-precent {
  margin-top: 8%;
}

.m-t-10-precent {
  margin-top: 10%;
}

.m-t-18-precent {
  margin-top: 18%;
}

.margin-bottom {
  margin-bottom: 8px;
}

.m-b-offset-2 {
  margin-bottom: 2%;
}
.m-b-offset-3 {
  margin-bottom: 3%;
}
.m-b-offset-5 {
  margin-bottom: 5%;
}

.m-15-0 {
  margin: 15px 0;
}

.m-20-15 {
  margin: 20px 15px;
}

.m-15-15 {
  margin: 15px 15px;
}

.m-15-7 {
  margin: 15px 7px;
}

.m-m-30 {
  margin: 0px -30px;
}


/* MARGIN*/

.top-buffer {
  margin-top: 8px;
}
.top-2{
  top:2px;
}
.top-3{
  top:3px;
}
.top-7{
  top:7px;
}
.top-m-2{
  top:-2px;
}
.top-m-3{
  top:-3px;
}
.top-m-7{
  top:-7px;
}
.top-5 {
  top: 5px;
}
.top-10 {
  top: 10px;
}
.top-15 {
  top: 15px;
}

.top-20 {
  top: 20px;
}

.top-25 {
  top: 25px;
}

.top-30 {
  top: 30px;
}

.top-60 {
  top: 60px;
}
.top-54 {
  top: 54px;
}

.top-75 {
  top: 75px;
}

.top-147 {
  top: 147px;
}

.top-offset-15{
  top:15%;
}

//Right

.right-0{
  right:0;
}
.right-10{
  right:10px;
}

.right-30{
  right:30px;
}

.right-offset-20{
  right:20%;
}
.right-m-7{
  right:-7px;
}
.inline {
  display: inline;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.left-buffer {
  margin-left: 3px;
}

.opacity-3 {
  opacity: .3;
}

.opacity-4 {
  opacity: .4;
}

.opacity-5 {
  opacity: .5;
}

.opacity-6 {
  opacity: .6;
}
.opacity-7 {
  opacity: 0.7;
}

.opacity-1 {
  opacity: 1;
}

.fill-opacity-5{
  fill-opacity: .5;
}
.fill-opacity-55{
  fill-opacity: .55;
}


/* WIDTH*/

.w-inherit {
  width: inherit;
}
.w-fill{
  width:100%;
}
.w-25{
  width:25px;
}
.w-36{
  width:36px !important;
}
.w-50{
  width:50px;
}

.w-55{
  width:55px;
}
.w-85 {
  width: 85px;
}
.w-90 {
  width: 90px;
}
.w-95 {
  width: 95px;
}

.w-70 {
  width: 70px;
}

.w-100 {
  width: 100px !important;
}

.w-115 {
  width: 115px;
}

.w-120 {
  width: 120px;
}

.w-125 {
  width: 125px;
}

.w-135 {
  width: 135px;
}
.w-140 {
  width: 140px;
}
.w-150 {
  width: 150px;
}

.w-160 {
  width: 160px;
}
.w-170 {
  width: 170px;
}
.w-175 {
  width: 175px;
}

.w-195 {
  width: 195px;
}

.w-200 {
  width: 200px;
}

.w-219 {
  width: 219px;
}

.w-220 {
  width: 220px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}
.w-345{
  width:345px;
}
.w-350 {
  width: 350px;
}

.w-330 {
  width: 330px;
}

.w-500 {
  width: 500px;
}
.w-700{
  width: 700px;
}
.max-w-73 {
  max-width: 73px;
}
.max-w-700{
  max-width: 700px;
}
.max-w-500{
  max-width: 500px;
}
.min-w-25{
  min-width: 25px;
}

.max-w-140{
  max-width: 140px !important;
  width:100%;
}

.min-w-150{
  min-width: 150px !important;
}
.min-w-200 {
  min-width: 200px;
}
.min-w-300 {
  min-width: 300px;
}
.min-w-350 {
  min-width: 350px;
}
.min-w-385{
  min-width: 385px;
}

.min-w-400 {
  min-width: 400px;
}
.min-w-430{
  min-width: 430px;
}
.min-w-455 {
  min-width: 455px;
}
.min-w-500{
  min-width: 500px;
}
.m-w-xs-1 {
  width: 8.33333%;
}

.m-w-xs-2 {
  width: 16.666667%;
}

.m-w-xs-3 {
  width: 25%;
}

.m-w-xs-4 {
  width: 33.333333%;
}

.m-w-xs-5 {
  width: 41.666667%;
}

.m-w-xs-6 {
  width: 50%;
}

.m-w-xs-7 {
  width: 58.33333%;
}

.m-w-xs-8 {
  width: 66.66667%;
}

.m-w-xs-9 {
  width: 75%;
}

.m-w-xs-10 {
  width: 83.33333%;
}

.m-w-xs-11 {
  width: 91.666667%;
}

.m-w-xs-12 {
  width: 100%;
}

.col-xs-13 {
  width: 13.33333%;
  float: left;
}

.col-xs-15 {
  width: 15vw;
}

.col-xs-19 {
  width: 19%;
  float: left;
}

.col-xs-20 {
  width: 20%;
  float: left;
}

.col-xs-21 {
  width: 21.666667%;
  float: left;
}

.col-xs-22 {
  width: 22.666667%;
  float: left;
}

.col-xs-23 {
  width: 23.666667%;
  float: left;
}

.col-xs-48 {
  width: 48.8%;
  float: left;
}

.col-xs-58 {
  width: 58.666667%;
  float: left;
}

.col-xs-72 {
  width: 72.66667%;
  float: left;
}

.col-xs-78 {
  width: 78%;
  float: left;
}

.col-xs-80 {
  width: 80.3333%;
  float: left;
}

.col-xs-46 {
  float: left;
  width: 46.666667%;
}

.col-xxs-1 {
  width: 6.333333%;
}

.col-xxs-2 {
  float: left;
  width: 10.33333%;
}

.col-xxs-12 {
  width: 12.666667%;
}

.col-xs-44 {
  float: left;
  width: 44%;
}

.col-xs-95 {
  width: 95.666667%;
  float: left;
}

.col-xs-12-p-0 {
  width: 100%;
  float: left;
  padding: 0;
}

.col-xs-min-48 {
  min-width: 48.8% !important;
  float: left;
}
.m-w-100 {
  min-width: 100px;
}

.m-w-135 {
  min-width: 135px;
}

.m-w-300{
  min-width: 300px;
}
.m-w-550{
  min-width: 550px;
}

.m-w-1000 {
  min-width: 1000px;
}

.m-w-1100 {
  min-width: 1100px;
}


/* WIDTH*/


/* HEIGHT*/
.h-inherit{
  height:inherit;
}
.h-15{
  height:15px;
}
.h-20{
  height:20px;
}
.h-36{
  height:36px;
}
.h-40 {
  height: 40px;
}

.h-50{
  height: 50px !important;
}

.h-55{
  height: 55px;
}

.h-57 {
  height: 57px;
}

.h-55 {
  height: 55px;
}

.h-60 {
  height: 60px;
}

.h-66 {
  height: 66px;
}
.h-75 {
  height: 75px;
}
.h-80 {
  height: 80px;
}

.h-100 {
  height: 100px !important;
}

.h-120 {
  height: 120px;
}

.h-130 {
  height: 130px;
}
.h-175{
  height: 175px;
}
.h-230{
  height: 230px;
}
.h-46 {
  min-height: 46px;
}
.min-h-48{
  min-height: 48px;
}

.min-h-50{
 min-height: 50px;
}

.min-h-54{
 min-height: 54px;
}

.m-h-40{
  min-height: 40px;
}

.m-h-175 {
  height: 175px;
}
.m-h-200{
  min-height:200px;
}
.m-h-350{
  min-height:350px;
}
.h-fill{
  height: 100%;
}

.h-fill-l {
  height: 100%;
}

@media only screen and (max-width: 48em) {
  .h-fill-l {
    height: unset !important;
  }
}

.h-fill-m-30{
  height:calc(100% - 30px);
}
.m-h-fill{
  min-height: 100%;
}
.h-115 {
  height: 115px;
}

.h-150 {
  height: 150px !important;
}

.h-180 {
  height: 180px;
}

.h-200 {
  height: 200px !important;
}
.h-220 {
  height: 220px;
}

.h-250 {
  height: 250px !important;
}
.h-400{
  height: 400px;
}
.h-450{
  height: 450px;
}
.h-700{
  height: 700px;
}
.h-15-precent {
  height: 15%
}
.h-xs-6{
  height: 50% !important;
}
.h-100-vh {
  height: 100vh;
}

.max-h-50{
  max-height: 50px;
}

/* HEIGHT*/

.v-a-b {
  vertical-align: bottom;
}

.v-a-baseline {
  vertical-align: baseline !important;
}
.v-a-t-b{
  vertical-align: text-bottom;
}
.v-a-m {
  vertical-align: middle;
}

.v-a-sub {
  vertical-align: sub;
}

.v-a-super {
  vertical-align: super;
}

.b-r-0 {
  border-radius: 0;
}

.b-r-10{
  border-radius: 10px;
}
.b-r-t-5{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.b-b-6{
  border-bottom: 6px solid;
}

.bottom-offset-50 {
  bottom: 50% !important;
}
.bottom-50{
  bottom:50px;
}

.bottom-100{
  bottom:100px;
}
.bottom-m{
  bottom:0;
}
.bottom-m-15{
  bottom:-15px;
}
.bottom-m-25{
  bottom:-25px;
}

.text-left {
  text-align: left !important;
}
.left-m-55{
  left:-55px;
}
.left-27 {
  left: 27%;
}

.left-offset-43{
  left:43% !important;
}
.left-offset-45{
  left:45% !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}
.overflow{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-ellipsis{
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.strikethrough {
  text-decoration: line-through;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-15 {
  letter-spacing: 15pt !important;
}

.letter-spacing-1_3 {
  letter-spacing: 1.3px;
}

.letter-spacing_5 {
  letter-spacing: .5px;
}

.inline-block {
  display: inline-block !important;
}
.inline-table{
  display: inline-table;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}

.blur-text {
  color: transparent;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.invisible {
  visibility: hidden;
}

.list-style-none{
  list-style-type: none;
}

.pointer{
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
.no-border{
  border:0 solid;
}
.right-light-gray-separator{
  border-right: 2px solid $lighter-gray;
}

.brightness45 {
  filter: brightness(45%) !important;
}

.break-word{
  word-break: break-word;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.lowercase{
  text-transform: lowercase;
}
.zindex-1{
  z-index: 1;
}

.zindex-100 {
  z-index: 100;
}
.decorate-none{
  text-decoration: none;
}

a.decorate-none{
  &:hover {
    text-decoration: none;
  }
}