$black: #000000;
$dark-gray: #181818;
$gray: #999999;
$light-gray: #b3b3b3;
$lighter-gray: #d8d8d8;
$lightest-gray:#f2f2f2;

$secondary: #2528e3;
$aqua-dark: #37b2a4;
$white: #fcfcfc;
$white80: rgba(252, 252, 252, 0.8);
$white50: rgba(252, 252, 252, 0.5);
$white60: rgba(252, 252, 252, 0.6);


$primary: #2196f3;
$primary60: rgba(0,0,0,.6);
$lighter-gray60: rgba(242, 242, 242, .6);
$lighter-gray70: rgba(242, 242, 242, .7);

$lightBlue: #00bcf2;
$deepPurple: #68217a;
$purple: #b4009e;
$lightPurple: #f472d0;
$deepBlue:#4668c5;

$sonar-primary: #2528e3;
$sonar-white: #ffffff;
$sonar-medium: #999999;
$sonar-ligher: #d8d8d8;
$sonar-light: #b3b3b3;
$sonar-dark: #808080;

//Instruments

$percussion: #fa42f3;
$synthesizer: #23a89e;
$pianoAndKeys: #fc597b;
$electronicBeat: #f02525;
$drums: #3ca823;
$vocals: #816bf9;
$strings: #42acfa;
$bass: #fa5e59;
$woodwindsAndBrass: #fd8b05;
$guitar: #2bc961;


$blue-gray: #fbfcfe;
$black60: rgba(0,0,0,.6);
$gray60: rgba(161, 160, 159, .6);
$gray50: rgba(161, 160, 159, .5);
$gray40: rgba(161, 160, 159, .4);
$secondary60: rgba(0, 186, 241, .6);
$sky:#7dd9fb;
$gradient:linear-gradient(180deg, #0d2c3d 60%, #1b3353,#078b91);
$cyan:#0d6b92;
$deep:#0d2c3d;
$quiz:#f06c43;
$coffee-break:#bddee9;
$yellow:#fcd116;
$yellow60:rgba(252, 209, 22, 0.6);
$yellow40:rgba(252, 209, 22, 0.4);

$green:#ff8c00;
$orange:#f99733;
$red:#ff001e;

$font: '"Arial", sans-serif';
